<div class="row">
  <div class="large-6 large-centered columns r-o">

<%= link_to "Add This Recipe to a Cookbook", "#", data: {:'reveal-id' => 'add-cookbook-modal'} %><br><br><br>



<%= link_to "Remove This Recipe From a Cookbook", "#", data: {:'reveal-id' => 'remove-cookbook-modal'} %><br><br><br>
</div>
 </div>
