<div class="large-12 columns large-center" id="recipe-block">
    <ul class="large-block-grid-4">
    <% recipes.each do |recipe| %>
      <strong>
     <li> <%= link_to recipe.dish_name, recipe, class:"recipe-link"%><br>
      </strong>
         <%= link_to image_tag(recipe.picture, class: "recipe-pic"), recipe %><br>

            <% recipe.tags.each do |tag|%>

     <%= link_to tag, tag_recipes_path(tag.name), class:"custom-label-class", id:'tag' %>
      <% end %>
       <br>
        <br>


<% end %>
      </li>
    </ul>
</div>