<div class="row">
  <div class="large-6 large-centered columns r-o">

    <%= link_to "Add This Recipe to a Potluck", "#", data: {:'reveal-id' => 'add-potluck-modal'}, class:'button expand' %>

  <%= link_to "Remove This Recipe From a Potluck", "#", data: {:'reveal-id' => 'remove-potluck-modal'}, class: "button expand" %>
</div>
 </div>
