<div class="row">
  <div class="large-4 large-centered columns">
 <%=link_to "New", '#', data: {:'reveal-id' => 'recipe-modal'}, class:'button expand'%>
 <br>
  <%=link_to 'Your Recipes', user_path(current_user), class:'button expand'%>
</div>
</div>
