<div class="row">
  <div class="large-6 large-centered columns">

<%= link_to "Add to a Cookbook", "#", data: {:'reveal-id' => 'add-cookbook-modal'}, class:'button expand' %>



<%= link_to "Remove From a Cookbook", "#", data: {:'reveal-id' => 'remove-cookbook-modal'}, class:'button expand' %>
</div>
 </div>
