<body class="fonts">
<div class="large-6 large-centered columns">
  <%= form_tag({controller: "recipes", action: "remove_from_potluck"}, method: "post") do %>


    <div class="field">
    <%= label :potluck_ids, "Potluck" %><br>
    <%= collection_select @potlucks, :potluck_id, current_user.potlucks, :id, :name %>
    </div>



    <div class="action">
        <%= submit_tag "Remove!", class: "tiny button radius" %>
      </div>
  <%end%>
