<div class="row">
  <div class="large-6 large-centered columns r-o">
  <%if current_user == @recipe.user %>
<%= link_to content_tag(:i, nil, class:"fa fa-pencil fa-4x"), edit_recipe_path(@recipe), class:"toggles" %>
<%end%>
<br><br>
<%= link_to "Variate This Recipe", clone_recipe_path %><br><br>
<%=link_to "Delete This Recipe", @recipe, method: :delete, data: { confirm: 'Diamonds are forever. So is this. Are you sure?' }, class:'recipe-link'%>
  <br><br>
</div>
 </div>
