<div class="row">
  <%= link_to content_tag(:i, nil, class:"fa fa-arrow-left fa-4x"), recipes_path, class:"toggles" %>

<div class="large-4 large-centered columns">
<h1 class="page-title">New recipe</h1>
  </div>

  <div class="row">

<%= render 'form' %>
    </div>

    </div>