<div class="row">

<div class="large-4 large-centered columns">
<h1 class="recipe-link">New recipe</h1>
  </div>

  <div class="row">

<%= render 'form' %>
<%content_for :recipe_options do%>
<div class="row">
  <div class="large-4 large-centered columns">
  <%=link_to 'Your Recipes', user_path(current_user), class:'button expand'%>
</div>
</div>

 <%end%>

 <%content_for :cookbook_options do%>
  <% render partial: 'cookbooks/cookbook_options'%>
<%end%>

<%content_for :potluck_options do%>
  <% render partial: 'potlucks/potluck_options'%>
<%end%>

<%content_for :settings_options do%>
   <% render partial: 'users/in_options'%>
<%end%>


<div id="potluck-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">New Potluck</h2>
  <%= render partial: 'potlucks/form', object: @potluck%>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="cookbook-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">New Cookbook</h2>
  <%= render partial: 'cookbooks/form', object: @cookbook%>
  <a class="close-reveal-modal">&#215;</a>
</div>


    </div>

    </div>
