<div class="row">
  <div class="medium-12 columns">
<h3 class="page-title">Recipes tagged with "<%=@tag%>"</h3>
<%= render :partial => 'recipes', :object => @recipes %>
  </div>

  <%= link_to content_tag(:i, nil, class:"fa fa-arrow-left fa-4x"), recipes_path, class:"toggles" %>
</div>