<div class="row">
  <div class="medium-12 columns">
<h3 class="page-title">Recipes tagged with "<%=@tag%>"</h3>
<%= render :partial => 'recipes', :object => @recipes %>
  </div>

  <%= link_to "Back home", root_path, class:'recipe-link' %>
</div>