<div class="large-12 columns large-center" id="recipe-block">
  <ul class="large-block-grid-4">
    <%@potlucks.each do |potluck| %>
        <%= potluck.name%>
        <br>
        <br>

    <% end %>
    <br>
    <br>
    </li>
  </ul>
</div>
