<body class="fonts">
<div class="row">
<div class="large-6 columns large-left" id="recipe-block">
        <strong>
          <h1 class="recipe-link"><%=@potluck.name%><br></h1>
        </strong>
        <%= button_to 'Join Potluck', attend_potluck_path(@potluck.id), class:"button"%>
        </body>
