<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Hey there! <%= @user.name %> invited you to join their Potluck!</h1>
<p>
You can go join it here: <%= @url%>
</p>
<p></p>
<p>

</p>
<br>
<br>
<br>
<p></p>
</body>
</html>
