<body class="fonts">
<div class="large-6 large-centered columns">
  <%= form_for(@cookbook) do |f| %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="action">
        <%= f.submit "Make Cookbook", class: "button" %>
      </div>
      </div>

  <% end %>
  </body>
