/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require foundation_and_overrides
 *= require foundation
 */

@import url(http://fonts.googleapis.com/css?family=Satisfy);

@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
#dig-in{
  color: white;
}
.sidebar{
  position:fixed;
  background-color: #95D1F0;
  height: 100%;
  bottom: 0px;
  left:0px;
}

.gogo{

  position: relative;
  left: 570px;
  bottom: 67px;
}
.custom-label-class {
    background: #E3E3E3;
    -webkit-border-radius: 5%;
    padding:2px;
    margin: 3px;
}
#tag{
    color: black;
}

.text-link{
  font-size:30px;
}
.recipe-link{
  font-family: 'Amatic SC', cursive;
  color: #0078a0;
  font-size: 35px;
}
.noticed{
  text-align: center;
  font-size: 15px;
}
.top-thing{
  height:65px;
}
.loggedout{
  background-image:asset-url('grapefruit3.jpg');
  background-size: cover;
}
.bubble{
  position:relative;
  background-color:white;
  opacity: 0.9;
  border-radius: 2%;
  height: 400px;
  width: 800px;
}
#recitop{
  position:relative;
  font-size: 70px;
  top:25px;
  color: white;
}
#bringit{
  position: relative;
  font-size: 30px;
  top: 10px;
  color: white;
}
.log-button{
  position: relative;
  top: 40px;
  left: 80px;
}
#login-whole{
  position:relative;
  top:40px;
  right: 35px;
}
#bf{
  font-family: 'Satisfy';
  font-size: 25px;
}
.dropit{
  font-size:20px;
}

.list-email{
  position:relative;
  left: 100px;
  bottom: 100px;
  margin: 100px;
}
