
.recipe-pic{
    postion: absolute;
    border-radius: 20%;
    vertical-align: middle;
}

.page-title {
    font-family: 'Satisfy', cursive;
    text-align: center;

}

.recipe-link{
    font-family: 'Architects Daughter', cursive;
    color: #0078a0;
}
.toggles{
    margin: 30px;
}

#recipe-block{
    margin-top: 30px;
    height: 100%;
}

#ingredients{
    margin-top: 30px;
    height: 100%;
}

#cutlery{
   position:relative;
    bottom: 100px;
    left: 100px;
}

/*TODO: lalala*/