.sidebar{
  position:absolute;
  background-color: black;
  height: 100%;
  bottom: 0px;
  left:0px;
}
.list-thumb{
  padding: 0px;
  margin: 0px;
}
.potluckpic{
  position: relative;
  height: 90px;
  width: 90px;
 }

#cookbook{
   height:90px;
   width: 90px;
}


#newicon{
  height: 90px;
  width: 90px;
}

#pot{
  position: relative;
  top: 10px;
 }


#search{
  position: relative;
    height: 51px;
    left: 270px;
    font-size: 18px;
}

.np{
  height: 100px;
  width: 100px;
}


.recipe-pic{
    postion: absolute;
    vertical-align: middle;
}

#thumb-name{
  font-size: 30px;

}

.recipe-pic-thumb{
    vertical-align: middle;
    border-radius: 2%;
}

.overlay{
  background: white;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  opacity:0;
}



#recipe-dish-name{
  font-weight: bolder;
}

#search-button{
  margin-left: 110px;
}


.page-title {
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin: 8px;

}

.sidebarlink{
  text-decoration: underline;
}

.top-page{
    color: black;
}
.recipe-link{
  font-family: 'Amatic SC', cursive;
    color: #0078a0;
}

#holder{
  opacity: 0.5;
}
.toggles{
    margin-left: 20px;
}

#recipe-block{
    margin-top: 30px;
    height: 100%;
}

#ingredients{
    margin-top: 30px;
    height: 100%;
}
#pindex-partial{
    position: relative;
}

#cutlery{
    position: fixed;
    right: 0px;
}
#sign-in{
    position:relative;
    left: 120px;
}

