.recipe-pic{
   border-radius: 3%;
    postion: absolute;
    vertical-align: middle;
}

#thumb-name{
  font-size: 30px;

}

.recipe-pic-thumb{
   border-radius: 5%;
    vertical-align: middle;
}

#recipe-dish-name{
  font-weight: bolder;
}

#search-button{
  margin-left: 110px;
}


.page-title {
    font-family: 'Satisfy', cursive;
    text-align: center;

}

.recipe-link{
  font-family: 'Amatic SC', cursive;
    color: #0078a0;
}

#holder{
  opacity: 0.5;
}
.toggles{
    margin-left: 20px;
}

#recipe-block{
    margin-top: 30px;
    height: 100%;
}

#ingredients{
    margin-top: 30px;
    height: 100%;
}
#pindex-partial{
    position: relative;
}

#cutlery{
    position: fixed;
    bottom: 200px;
    left: 100px;
}
#sign-in{
    position:relative;
    left: 120px;
}

