<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Hey there <%= @user.name %> here's your grocery list for <%= @recipe.dish_name %>. </h1>
<p>
   <%= render @recipe.ingredients %>.
</p>
<p></p>
<p>

</p>
<br>
<br>
<br>
<p></p>
</body>
</html>